.card-position {
  margin-top: 0px;
}
@media (min-width: 992px) {
  .card-position {
    transform: translateY(-40px);
  }
}

// 卡片
.diary-blur {
  position: relative;
  padding: 32px;
  overflow: visible;
}

.diary-blur::before {
  content: "";
  position: absolute;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  top: -13%;
  bottom: -15%;

  background-image: url("../../../assets/shadow-horizontal.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
  pointer-events: none;
}

.diary-card-top {
  position: relative;
  z-index: 1;
  background-color: #fffefc;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.157);
}

.diary-card-bottom {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background: #fcfbf9;
}

// 右邊日記
.diary-text {
  white-space: pre-line;
  line-height: 2;
}

.diary-img {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

// 左邊月曆
.calendar-btn {
  border-radius: 50rem;
  background-color: #104754;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-arrow {
  color: white;
}

.cal-cell {
  height: 100%;
  justify-content: space-between;
}

.cal-date {
  margin-top: 32px;
  line-height: 1.5;
}
.cal-mood {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mood-placeholder {
  width: 40px;
  height: 40px;
  display: block;
}

@media (max-width: 991.98px) {
  .diary-blur::before {
    background-image: url("../../../assets/shadow-vertical.png");
    background-position: center top;
    background-size: cover;
    background-repeat: repeat-y;
    top: -7%;
    bottom: -8%;
  }
  .diary-left {
    transform: translateY(-30px);
  }
  .diary-right {
    transform: translateY(30px);
  }
}
